<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Twitter timeline tag:{{tag}}</title>
</head>

<body>
    <a href="https://twitter.com/intent/tweet?button_hashtag=テレビ朝日&ref_src=twsrc%5Etfw" class="twitter-hashtag-button"
        data-show-count="false">Tweet #テレビ朝日</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-width="300" data-height="300">
        Tweets by @TwitterDev
    </a>
</body>

</html>